extends layout
block content
    head 
    title= "Profile Page"

    body 
    h1 Teacher Profile Page for: #{teacher.Name}

    img(scr='/static/images/profile-pic-temp.png' width='200px' height='360px')

    p The ID for the teacher is: #{teacher.T_ID}

    h2 Skills
         select
            option(value= 'Heading')
                table  
                    tr 
                        th Skill Name | 
                        th Skill Type 
                    tr 
                for skills in teacher.skills
                    option(value= 'SkillDetails') #{skills.skillName} | #{skills.skillType}
    h3 Booking
        select
            option(value= 'Heading')
                table
                    tr
                        th Day of Week | 
                        th Slot | 
                        th Duration 
                    tr 
                for booking in teacher.booking
                    option(value= 'BookingDetails') #{booking.DayOfWeek} | #{booking.Slot} | #{booking.Duration}
