extends layout
block content
    head 
    title= "Profile Page"

    body 
    h1 Teacher Profile Page for: #{teacher.Name}

    p Teacher ID: #{teacher.T_ID}

    img(src= teacher.image_path width='200px' height='360px')

    h2 Skills
         select
            option(value= 'Heading')
                table  
                    tr 
                        th Skill Name | 
                        th Skill Type 
                    tr 
                for skills in teacher.skills
                    option(value= 'SkillDetails') #{skills.skillName} | #{skills.skillType}
    h3 Booking
        select
            option(value= 'Heading')
                table
                    tr
                        th Day of Week | 
                        th Slot | 
                        th Duration (Min)
                    tr 
                for booking in teacher.booking
                    option(value= 'BookingDetails') #{booking.DayOfWeek} | #{booking.Slot} | #{booking.Duration}

    h4 Message For Enquiry
        form(action='/add-note', method='POST')
            input(type='hidden' name='T_ID' value=teacher.T_ID)
            textarea(name='note' rows=7 cols=50)
            div 
            input(type='Submit' value='Submit')

    h5 Enquiry Message Inbox: #{teacher.note}
